.page-container {
  display: flex;
  flex: 1;
  background-color: #fff;
}
.page-container__content {
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  padding: 2rem;
}
.page-container__content__title {
  color: var(--highlight-color);
  font-size: 2.3rem;
  margin-bottom: 2rem;
}
.page-container__content__text {
  color: var(--main-dark-text-color);
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .page-container__content {
    margin: 0;
  }
  .page-container__content__title {
    font-size: 1.3rem;
  }
  .page-container__content__text {
    color: var(--main-dark-text-color);
    font-size: 1rem;
  }
}
