.side-bar {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  max-width: 275px;
  padding: 2rem;
}

.sidebar-title {
  color: var(--highlight-color);
  font-size: 2.3rem;
  padding: 2rem 1rem 4rem 1rem;
}

.nav-container {
  width: 200px;
  flex: 1;
}

.nav-content {
  height: auto;
  flex: 1;
}

.nav-content__item {
  display: flex;

  font-size: 1.5rem;
  background-color: var(--main-bg-color);
  padding: 1.4rem 0.3rem;
  border-bottom: 1px solid var(--hr-color);
  cursor: pointer;
}
.nav-content__item__icon {
  margin-right: 1rem;
  font-size: 2rem;
}
.nav-content__item__icon > path:last-child {
  fill: none;
  stroke: #fafafa;
  stroke-width: 1;
}

.nav-content__item:first-child {
  border-top: 1px solid var(--hr-color);
}

.nav-content__item:hover {
  filter: brightness(0.85);
}

.sidebar-footer {
  align-self: flex-end;
  justify-self: flex-end;
  color: var(--footer-color);
  font-size: 1.2rem;
  margin-top: 2rem;
}
